* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.test {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
}
